src/main/config/robot.dtd

<!-- temporary leave pigeon here until odometry is plugged in -->
<!ELEMENT robot (pdp?, pcm?, odometry?, feedback?, chassis?, mechanism*, pigeon?, limelight?, camera* )>

<!-- ========================================================================================================================================== -->
<!--	odometry 																																-->
<!-- ========================================================================================================================================== -->
<!ELEMENT odometry (pigeon?, lidar*, pwmultrasonic*, analogultrasonic*, limelight* )>
<!ATTLIST odometry 
          xloc CDATA "0.0"
          yloc CDATA "0.0" 
          heading CDATA "0.0"
>

<!ELEMENT pigeon EMPTY>
<!ATTLIST pigeon 
          canId             (  0 |  1 |  2 |  3 |  4 |  5 |  6 |  7 |  8 |  9 | 
                              10 | 11 | 12 | 13 | 14 | 15 | 16 | 17 | 18 | 19 | 
                              20 | 21 | 22 | 23 | 24 | 25 | 26 | 27 | 28 | 29 | 
                              30 | 31 | 32 | 33 | 34 | 35 | 36 | 37 | 38 | 39 | 
                              40 | 41 | 42 | 43 | 44 | 45 | 46 | 47 | 48 | 49 | 
                              50 | 51 | 52 | 53 | 54 | 55 | 56 | 57 | 58 | 59 | 
                              60 | 61 | 62 ) "0"
>

<!ELEMENT pwmultrasonic EMPTY>
<!ATTLIST pwmultrasonic 
		  usage				( front | back ) "front"
          pwmId             (  0 |  1 |  2 |  3 |  4 |  5 |  6 |  7 |  8 |  9 | 
                              10 | 11 | 12 | 13 | 14 | 15 | 16 | 17 | 18 | 19 ) "0"
>

<!ELEMENT analogultrasonic EMPTY>
<!ATTLIST analogultrasonic 
		  usage				( front | back ) "front"
          analogId          (  0 |  1 |  2 |  3 |  4 |  5 |  6 |  7 ) "0"
>
<!ELEMENT lidar EMPTY>
<!ATTLIST lidar 
          usage              ( front | back  ) "front"
          inputpin			 CDATA "0"
          triggerpin		 CDATA "0"
>

<!ELEMENT limelight EMPTY>
<!ATTLIST limelight 
		  usage 			( MAINLIMELIGHT | SECONDARYLIMELIGHT ) "MAINLIMELIGHT"
		  tablename         ( limelight | limelight2 ) "limelight"
		  mountingheight    CDATA #REQUIRED
		  horizontaloffset  CDATA "0.0"
		  mountingangle     CDATA #REQUIRED
		  rotation          ( 0.0 | 90.0 | 180.0 | 270.0 ) "0.0"
		  targetheight      CDATA #REQUIRED
		  targetheight2     CDATA #REQUIRED
		  defaultledmode	( currentpipeline | off | blink | on ) " currentpipeline" 
		  defaultcammode    ( vision | drivercamera ) "vision"
		  streammode        ( sidebyside | pipmain | pipsecondary ) "sidebyside"
		  snapshots         ( off | twopersec ) "off"
		  crosshairx        CDATA #IMPLIED
		  crosshairy        CDATA #IMPLIED
		  secondcrosshairx  CDATA #IMPLIED
		  secondcrosshairy  CDATA #IMPLIED
>


<!-- ========================================================================================================================================== -->
<!--	driver feedback  				   																										-->
<!-- ========================================================================================================================================== -->
<!ELEMENT feedback (camera*, led*, blinkin*)>

<!ELEMENT camera EMPTY>
<!ATTLIST camera 
          id                CDATA "0"
          format            ( KMJPEG| KYUYV | KRGB565 | KBGR | KGRAY ) "KMJPEG"
          width			 	CDATA "640"
          height		 	CDATA "480"
          fps			 	CDATA "30"
		  thread            ( true | false ) "false"
>
<!ELEMENT led EMPTY>
<!ATTLIST led 
		  usage				( front | back | top | bottom) "front"
          canId             (  0 |  1 |  2 |  3 |  4 |  5 |  6 |  7 |  8 |  9 | 
                              10 | 11 | 12 | 13 | 14 | 15 | 16 | 17 | 18 | 19 | 
                              20 | 21 | 22 | 23 | 24 | 25 | 26 | 27 | 28 | 29 | 
                              30 | 31 | 32 | 33 | 34 | 35 | 36 | 37 | 38 | 39 | 
                              40 | 41 | 42 | 43 | 44 | 45 | 46 | 47 | 48 | 49 | 
                              50 | 51 | 52 | 53 | 54 | 55 | 56 | 57 | 58 | 59 | 
                              60 | 61 | 62 ) "0"
>

<!ELEMENT blinkin EMPTY>
<!ATTLIST blinkin 
		  usage				( front | back | top | bottom ) "front"
          pwmId             (  0 |  1 |  2 |  3 |  4 |  5 |  6 |  7 |  8 |  9 | 
                              10 | 11 | 12 | 13 | 14 | 15 | 16 | 17 | 18 | 19 ) "0"
>



<!-- ========================================================================================================================================== -->
<!--	PDP (power distribution panel) 		 																									-->
<!-- ========================================================================================================================================== -->
<!ELEMENT pdp EMPTY>
<!ATTLIST pdp 
          canId             (  0 |  1 |  2 |  3 |  4 |  5 |  6 |  7 |  8 |  9 | 
                              10 | 11 | 12 | 13 | 14 | 15 | 16 | 17 | 18 | 19 | 
                              20 | 21 | 22 | 23 | 24 | 25 | 26 | 27 | 28 | 29 | 
                              30 | 31 | 32 | 33 | 34 | 35 | 36 | 37 | 38 | 39 | 
                              40 | 41 | 42 | 43 | 44 | 45 | 46 | 47 | 48 | 49 | 
                              50 | 51 | 52 | 53 | 54 | 55 | 56 | 57 | 58 | 59 | 
                              60 | 61 | 62 ) "0"
>

<!-- ========================================================================================================================================== -->
<!--	PCM (pneumatic control module) 		 																									-->
<!-- ========================================================================================================================================== -->
<!ELEMENT pcm (analogInput?) >
<!ATTLIST pcm 
          canId             (  0 |  1 |  2 |  3 |  4 |  5 |  6 |  7 |  8 |  9 | 
                              10 | 11 | 12 | 13 | 14 | 15 | 16 | 17 | 18 | 19 | 
                              20 | 21 | 22 | 23 | 24 | 25 | 26 | 27 | 28 | 29 | 
                              30 | 31 | 32 | 33 | 34 | 35 | 36 | 37 | 38 | 39 | 
                              40 | 41 | 42 | 43 | 44 | 45 | 46 | 47 | 48 | 49 | 
                              50 | 51 | 52 | 53 | 54 | 55 | 56 | 57 | 58 | 59 | 
                              60 | 61 | 62 ) "0"
>



<!-- ========================================================================================================================================== -->
<!--	chassis  																																-->
<!--    Wheel Base is front-back distance between wheel centers  Track is the distance between wheels on an "axle"     							-->   
<!-- ========================================================================================================================================== -->
<!ELEMENT chassis (motor*) >
<!ATTLIST chassis 
          type              ( TANK | MECANUM ) "TANK"
          wheelDiameter     CDATA #REQUIRED
          wheelBase         CDATA #REQUIRED
          track             CDATA #REQUIRED
>


<!-- ========================================================================================================================================== -->
<!--	mechanism  																																-->
<!-- ========================================================================================================================================== -->
<!ELEMENT mechanism (motor*, solenoid*, servo*, analogInput*, digitalInput*, canCoder*, colorsensor?)>
<!ATTLIST mechanism
          type              ( INTAKE | HUMAN_PLAYER_FLAP | IMPELLER | BALL_TRANSFER | SHOOTER | SHOOTER_HOOD | TURRET |
							  CONTROL_TABLE_MANIPULATOR | CLIMBER | CRAWLER | HOOK_DELIVERY ) "INTAKE"
>

<!ELEMENT solenoid EMPTY >
<!ATTLIST solenoid 
		  usage 			( INTAKE | HUMAN_PLAYER_FLAP | BALL_TRANSFER | SHOOTER_HOOD | CONTROL_TABLE_MANIPULATOR | CLIMBER ) "INTAKE"
          canId             (  0 |  1 |  2 |  3 |  4 |  5 |  6 |  7 |  8 |  9 | 
                              10 | 11 | 12 | 13 | 14 | 15 | 16 | 17 | 18 | 19 | 
                              20 | 21 | 22 | 23 | 24 | 25 | 26 | 27 | 28 | 29 | 
                              30 | 31 | 32 | 33 | 34 | 35 | 36 | 37 | 38 | 39 | 
                              40 | 41 | 42 | 43 | 44 | 45 | 46 | 47 | 48 | 49 | 
                              50 | 51 | 52 | 53 | 54 | 55 | 56 | 57 | 58 | 59 | 
                              60 | 61 | 62 ) "0"
          channel           (  0 |  1 |  2 |  3 |  4 |  5 |  6 |  7 ) "0"
          reversed          (true | false ) "false"
>
<!ELEMENT servo EMPTY>
<!ATTLIST servo 
          usage             (  SHOOTER_HOOD ) "SHOOTER_HOOD"
          pwmId             (  0 |  1 |  2 |  3 |  4 |  5 |  6 |  7 |  8 |  9 | 
                              10 | 11 | 12 | 13 | 14 | 15 | 16 | 17 | 18 | 19 ) "0"
          minAngle			CDATA "0.0"
          maxAngle          CDATA "360.0"
>

<!ELEMENT colorsensor EMPTY>
<!ATTLIST colorsensor 
          port ( kOnboard | kMXP ) "kOnboard" 
>


<!-- ========================================================================================================================================== -->
<!-- 	shared items				 																											-->
<!-- ========================================================================================================================================== -->


<!-- motor  -->
<!-- ========================================================================================================================================== -->
<!--                      rotations of driver gear         teeth of driven gear                                                                 -->
<!--       Gear Ratio  =  ------------------------     =   --------------------                                                                 -->
<!--                      rotations of driven gear         teeth of driver gear                                                                 -->
<!-- ========================================================================================================================================== -->
<!ELEMENT motor (digitalInput*)>
<!ATTLIST motor 
          usage             	    ( LEFT_DRIVE_MASTER  | LEFT_DRIVE_FOLLOWER  |
                                      RIGHT_DRIVE_MASTER | RIGHT_DRIVE_FOLLOWER |
                                      INTAKE | IMPELLER | BALL_TRANSFER | TURRET | 
                                      SHOOTER_1 | SHOOTER_2 | SHOOTER_HOOD |
                                      CONTROL_TABLE_MANIPULATOR | 
                                      CLIMBER | CRAWLER | HOOK_DELIVERY ) "LEFT_DRIVE_MASTER"
          canId             		(  0 |  1 |  2 |  3 |  4 |  5 |  6 |  7 |  8 |  9 | 
                              		  10 | 11 | 12 | 13 | 14 | 15 | 16 | 17 | 18 | 19 | 
                              		  20 | 21 | 22 | 23 | 24 | 25 | 26 | 27 | 28 | 29 | 
                              		  30 | 31 | 32 | 33 | 34 | 35 | 36 | 37 | 38 | 39 | 
                              		  40 | 41 | 42 | 43 | 44 | 45 | 46 | 47 | 48 | 49 | 
                              		  50 | 51 | 52 | 53 | 54 | 55 | 56 | 57 | 58 | 59 | 
                              		  60 | 61 | 62 ) "0"
		  pdpID						CDATA #IMPLIED
          type              		( TALONSRX | FALCON | BRUSHLESS_SPARK_MAX | BRUSHED_SPARK_MAX ) "TALONSRX"
          inverted          		( true | false ) "false"
          sensorInverted    		( true | false ) "false"
          feedbackDevice    		( NONE | INTERNAL | QUADENCODER |  ANALOG |  
                                      TACHOMETER | PULSEWIDTHENCODERPOSITION  |  
                                      SENSORSUM |  SENSORDIFFERENCE |  
                                      REMOTESENSOR0 |  REMOTESENSOR1 | SOFTWAREEMULATEDSENSOR ) "NONE"
          countsPerRev      		CDATA "0"
          gearRatio         		CDATA "1"
          brakeMode         		( true | false ) "false"
          slaveTo 					CDATA "-1"
          peakCurrentDuration 		CDATA #IMPLIED
          continuousCurrentLimit 	CDATA #IMPLIED
          peakCurrentLimit			CDATA #IMPLIED
          currentLimiting   		( true | false ) "false"  
          forwardlimitswitch        ( true | false ) "false" 
          forwardlimitswitchopen    ( true | false ) "true"        
          reverselimitswitch        ( true | false ) "false" 
          reverselimitswitchopen    ( true | false ) "true"        
>


<!-- analogInput  -->
<!ELEMENT analogInput EMPTY>
<!ATTLIST analogInput 
          type              ( PRESSURE_GAUGE |  CRAWLER_LEVEL ) "PRESSURE_GAUGE"
          analogId          (  0 |  1 |  2 |  3 |  4 |  5 |  6 |  7 ) "0"
          voltageMin        CDATA "0.0"
          voltageMax        CDATA "5.0"
          outputMin         CDATA #REQUIRED
          outputMax         CDATA #REQUIRED
>

<!-- digitalInput  -->
<!ELEMENT digitalInput EMPTY>
<!ATTLIST digitalInput 
          usage             ( TURRET_ANGLE_MIN | TURRET_ANGLE_MAX ) "TURRET_ANGLE_MIN"
          digitalId         (  0 |  1 |  2 |  3 |  4 |  5 |  6 |  7 |  8 |  9 | 
                              10 | 11 | 12 | 13 | 14 | 15 | 16 | 17 | 18 | 19 | 
                              20 | 21 | 22 | 23 | 24 | 25 ) "0"
          reversed          (true | false ) "false"
>

<!ELEMENT canCoder EMPTY >
<!ATTLIST canCoder
	      usage 			( HOODANGLE | IMPELLERPOSITION ) "IMPELLERPOSITION"
          canId             (  0 |  1 |  2 |  3 |  4 |  5 |  6 |  7 |  8 |  9 | 
                              10 | 11 | 12 | 13 | 14 | 15 | 16 | 17 | 18 | 19 | 
                              20 | 21 | 22 | 23 | 24 | 25 | 26 | 27 | 28 | 29 | 
                              30 | 31 | 32 | 33 | 34 | 35 | 36 | 37 | 38 | 39 | 
                              40 | 41 | 42 | 43 | 44 | 45 | 46 | 47 | 48 | 49 | 
                              50 | 51 | 52 | 53 | 54 | 55 | 56 | 57 | 58 | 59 | 
                              60 | 61 | 62 ) "0"
>


<!-- TalonTach  -->
<!ELEMENT talontach EMPTY>
<!ATTLIST talontach 
          usage             (  0 |  1 |  2 |  3 |  4 |  5 |  6 ) "0" 
          canId             (  0 |  1 |  2 |  3 |  4 |  5 |  6 |  7 |  8 |  9 | 
                              10 | 11 | 12 | 13 | 14 | 15 | 16 | 17 | 18 | 19 | 
                              20 | 21 | 22 | 23 | 24 | 25 | 26 | 27 | 28 | 29 | 
                              30 | 31 | 32 | 33 | 34 | 35 | 36 | 37 | 38 | 39 | 
                              40 | 41 | 42 | 43 | 44 | 45 | 46 | 47 | 48 | 49 | 
                              50 | 51 | 52 | 53 | 54 | 55 | 56 | 57 | 58 | 59 | 
                              60 | 61 | 62 ) "0"
          generalpin        (  0 |  1 |  2 |  3 |  4 |  5 |  6 |  7 |  8 |  9 | 
                              10 | 11 ) "0"

          
>

